{% extends 'base.html' %}


{% block title %}
	Invite-Friends
{% endblock title %}


{% block content %}

		{% for item in qs %}
		<div class="ui segment">
			<div class="ui grid">
				<div class="row">
					<div class="three wide column">
						<img class="ui small circular image" src="{{item.avatar.url}}">
					</div>
					<div class="thirteen wide column">
						<h3>{{item.user}}</h3>
						<p>{{item.bio}}</p>
						<a href="{{item.get_absolute_url}}">
							<button class="ui primary button mb-5 w-big">View Profile</button>
						</a>
						<br>
						{% if request.user in item.friends.all %}
							<form action="{% url 'profiles:remove-friend' %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name="profile_pk" value="{{obj.pk}}">
								<button type="submit" class="ui negative basic button mb-5 w-big"><i class="minus squre icon"></i>Remove from friends</button>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

{% endblock content %}