.md-5 {
	margin-bottom: 5px !important;
}

.bwhite-lg {
	background-color: transparent !important;
}

.bwhite-md {
	background-color: transparent !important;
	width: 3px !important;
}

.bwhite-sm {
	background-color: transparent !important;
	/*width: 5px !important;*/
}

.comment-box {
	display: none;
}